body {
    margin: 0;
}

nav, main > section {
    overflow: auto;
}

main > section {
    min-height: 100vh;
}

a {
    font-family: 'Quicksand',Helvetica,sans-serif;
    font-weight: 600;
    font-size: 1.1em;
}
#home {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-image: url('img/background_comp.png');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#box-home {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

#head-img {
    max-width: 30%;
    height:auto;
}

#head-text {
    font-family: 'IBM Plex Mono', monospace;
    width: 60%;
    float: center;
    margin: 0;
}

#head-text h1 {
    font-weight: bolder;
    font-size: 4vw;
    margin: 0;
}

#navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: #1d1818;
    color: #eee;
    display: flex;
}

.button {
    min-width: 170px;
    height: 38px;
    border-radius: 8px;
    border-width: 1px;
    border-color: white;
    color: white;
    background-color: rgb(29,24,24);
    outline: none
}
.button p {
    font-family: 'Quicksand',Helvetica,sans-serif ;
    font-weight: bolder;
    font-size: 1vw;
    margin: 0;
}
nav h1, ul {
    margin: 0
}

nav a {
    text-decoration: none;
    color: #eee;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    padding: 1em;
    color: white;
}

nav ul a:hover {
    color: #29ABE0;
}

nav, main > section {
    overflow: auto;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(219, 219, 219);
}

#about-me p {
    max-width: 950px;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#skill_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#experince {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(219, 219, 219);
}

#experince ul {
    list-style: none;
}

#projects {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: center;
}

#projects h2 {
    margin: 0;
    margin-bottom: 10px;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    padding: 50px;
}